* {
  box-sizing: border-box;
}

svg {
  height: 3em;
  width: 3em;
  padding: 5px;
}

.tech {
  display: inline;
  height: 30px;
  width: 30px;
}

.react-icons:hover {
  color: #53868B;
}

.hero {
  color: white;
  background-color: #53868B;
  top: 0;
  left: 0;
}

#tsparticles {
  height: 100%;
  width: 100%;
}

.title {
  h1 {font-size: 80px;}
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// typewrtier effect
.typewriter h1 {
  color: white;
  overflow: hidden; 
  border-right: .05em solid white; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .10em; 
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .8s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

.navbar {
  background-color: #53868B;
  a:link {
    color: white;
    border-bottom: 3px dashed transparent;
  }
  a:visited {
    color: white;
    border-bottom: 3px dashed transparent;
  }
  a:hover {
    background-color: transparent;
    border-bottom: 3px dashed white;
  }
}

.about {
  img {
    border-radius: 5%;
  }
  h2 {
    font-size: 50px;
  }
}

.skills {
  h2 {
    font-size: 50px;
  }
}

.projects {
  background-color: #53868B;
  color: white;
  h2:first-child {
    font-size: 50px;
  }
}

#projects {
  button {
    margin-right: 10px;
    padding: 5px;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

footer {
  background-color: #53868B;
  h2 {
    color: white;
    
  }
}

h1, h2, h3, h5 {
  font-family: 'Bebas Neue', cursive;
}

h2 {
  font-size: 45px;
}

p, a {
  font-family: 'Baloo Thambi 2', cursive;
}

// .sectionTitle {
//   font-size: 80px;
//   padding-bottom: 30px;
// }

.sectionMargin {
  margin: auto;
}

.contact-p {
  margin-bottom: 15px;
}

.contacts-container i {
  width: 30px;
  padding-right: 35px;
}

.copyright {
  display: flex;
  justify-content: flex-end;
  color: white;
}

.contactLink {
  color: white;
  text-decoration: none;
}

.contactLink:hover {
  color: rgba(0, 0, 0, 0.39);
}

.hiddenAnchors {
  visibility: hidden;
}